

.block-title {
	text-align: center;
	font-size: 39px;
	font-weight: bold;
	margin-top: 30px;
}

#block-footerlogo {
	img {
		margin: 20px auto;
	}
}

#block-contactsfooter {

	
}
#block-socialshare {
	margin: 20px 0px;

	.social-share {
	    list-style-type: none;
	    li {
	      display: inline-block;
	      font-size: 25px;
	      margin: 5px 12px 12px 0px;

	      a {
	      	color: $social-color;	
	      }
	      a:hover {
	      	color: $text-theme;
	      }
	      
	    }
  }
}

#block-contactsheader {
	color: white;
	a {
		color: white;
	}
	i {
		padding: 0 5px;
	}
}

#block-minisocialshare {

	a {
		font-size: 16px;
		color: white;
		margin: 0 15px;
	}
}

#views-exposed-form-menu-block-1 {
	h2 {
		text-align: center;
	}
	margin: 30px 0px;
	text-align: center;

	input {
		visibility: hidden;
		width: 1px;
		height: 1px;
	}
	label {

		margin: 0 4px;

		font-weight: 600;
		padding: 5px 15px;
		color: #202020;
		background-color: white;
		border: 1px solid #202020;
		text-transform: uppercase;
	}
	label:hover {
		background-color: #202020;
		color: white;
	}
	.active_black_button {
		background-color: #202020;
		color: white;
	}
}

#today-special-block {
	h2 {
		text-align: center;
	}
	#todays-special {
		margin: 0 auto;
	}
	margin: 50px auto;

	.content-inner {
		margin: 0 auto;
    	background: #f4f4f4;
    	
    	min-width: 40%;
    	max-width: 50%;
    	position: absolute;
    	right: 0;
    	top: 20%;
    	* {
    		margin: 10px 0;
    	}
	}	
	img {
		margin: 0 auto;
	}

}



////////////////////////////////////////////////////////////////
.our-story {
	margin: 60px auto;
	.cursive {
		border-bottom: 1px solid $text-theme;
		a {
			font-size: 75px;
			color: $text-theme;
			text-decoration: none;
		}
	}
	.h2 {
		font-weight: bold;
		margin-left: 8px;
	}
	.read-more {
		margin: 25px 0px;
	}
	.video {
		.video-embed-field-launch-modal {

		}
		.video-embed-field-launch-modal:after {
			content: " ";
			display: block;
			height: 80px;
			width: 80px;
			background-image: url("../images/background/icon-play.png");
			background-size: cover;
			position: absolute;
			left: 50%;
			margin-left: -40px;
			top: 50%;
			margin-top: -40px;
		}

		cursor: pointer;
		img {
			border-radius: 100%;
			margin: 0 auto;
		}
	}

}
.breakfast-deal {
	.inner-text {
		background-color: $main-gray-color;
		margin: 0 auto;
		z-index: 9;

		
		margin-top: -30%;
		display: inline-block;
	}
	img {
		width: 100%;
		height: auto;
		padding: 0px;
		margin: 0px;
	}	
	h2 {
		color: $button-color-addition;
	}
}

.event-views {
	margin: 40px auto;
	width: 90%;
	.event-line {
		height: 2px;
		width: 50px;
		background-color: $text-theme;
		margin: 15px 0 20px;
	}

	.data-event {
	 	.wrapper-date {
	 		display: inline-block;
			border: 1px solid $light-dark;	
			margin-top: 20px;
	 	}
	 	.day {
	 		font-weight: bold;
	 	}
	 	.month {
	 		text-transform: uppercase;
	 	}
	}
	p {
		text-align: justify;
	}
	.event-img {
		img {
			width: 100%;
			height: auto;
		}

	}
}
.from-blog-block {
	
	.owl-stage {
		width: 70% !important;
		margin: 0 auto;
	}
}
.from-blog, #from-blog {
	text-align: center;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
	img {
		margin: 0 auto;
	}
	h3 {
		a {
			color: black;
			text-decoration: none;	
		}
		a:hover {
			color: $text-theme;
		}
	}
}

.our-team-block {
	width: 70% !important;
}
#our-team {
	text-align: center;
	width: 70%;

	a {
		font-size: 18px;
		color: black;
		text-decoration: none;
	}
	a:hover {
		color: $button-color-addition;
		text-decoration: none;
	}
	
}

.block-views-blockour-cheafs-block-3 {
	background-image: url("../images/background/bg-event.jpg");
	background-attachment: fixed;
}
.our-team, #our-team {
	margin: 0 auto;
	img {
		margin: 15px auto;
	}
	.social {
		display: none;
		a {
			color: white;	
		}
		font-size: 25px;
		right: 34px;
		top: 10%;
		position: absolute;
	}
	.active-img {
		.social {
			display: block;
		}
		background-color: black;

		img {
			opacity: 0.3;
		}
	}
	
}
////////////////////////////////////////////////////////////////
.block-views-blockcontact-page-views--block-1 {
	margin: 0 auto;
	text-align: center;
	span {
		font-size: 32px;
	    background: $button-color-addition;
	    color: white;
	    border-radius: 50%;
	    padding: 15px;
	    margin-bottom: 10px;
	}
}

.block-formblock-contact {
	width: 60%;
	margin: 0 auto;
	label {
		display: none;
	}
	input,textarea {
		outline: none !important;
		border: none;
		box-shadow: none;
		border-bottom: 1px dashed black;
		resize: none;
	}
}
iframe {
		width: 100% !important;
}
.loacation-block {
	margin: 20px 0px;
	i {
		font-size: 25px;
	}
	h5 {
		margin-top: 0px;
	}
}
////////////////////////////////////////////////////////////////
.counter {
	background-image: url("../images/background/bg-about.jpg"); 
  	background-position-y: center;
  	background-attachment: fixed;
  	padding: 80px 15%;
  	color: white;
  	font-size: 32px;
 
  	span {
  		font-size: 14px;
  		text-transform: uppercase;
  	}
}
.block-views-blockcustomers-block-1 {
	background-image: url("../images/background/bg-customer.jpg");
}
#customer-slider {
	width: 60%;
	margin: 80px auto;
	font-size: 17px;
	text-align: center;

	.slide__caption {
		width: 80%;
		margin: 0 auto;
		color: black;

		img {
			border-radius: 100%;
			
			margin: 30px auto;
		}
		p {
			color: $light-dark;
		}	
	}
	
}

/////////////////////////////////////////////////////////
.block-search-form-block {
	position: absolute;
	width: 30%;
	right: 0;
	bottom: -40px;
	display: none;

	input {
		height: 31px;
	}
	button {
		
	}
}