.region-sidebar-second {
	.wrapper-content {
		background: $text-theme;
		margin: 10px 0px;
		padding: 10px;
		color: white !important;
	}
	.field--name-field-button {
		margin: 0 auto;
		width: 100%;
		text-align: center;

		a {
			border: 1px solid white;
			color: white;
    		font-weight: 700;
    		letter-spacing: 1px;
    		text-transform: uppercase;
    		display: inline-block;
    		cursor: pointer;
		}
		a:hover {
			background-color: white;
			text-decoration: none;
			color: $text-theme;
		}	
	}
}