.block-views-blockmenu-block-1 {
	margin-bottom: 40px;

	ul {
		list-style-type: none !important;
		li {
			float: left;
			width: 33.333333%;
		}
		li:before {
			content: "- ";
		}	
	}

	.row  {
		margin: 30px 0;
		.views-field {
			border-bottom: 1px solid rgba(0, 0, 0, 0.0980392);

			.h4 {
				margin-top: 0;
			}

			li {
				padding: 4px 0px;
			}
		}
	}

	
}