.no-padding {
	padding: 0px !important; 
}
.cursive {
	font-family: 'Herr Von Muellerhoff', cursive;
	a {

	}
}
.cursive-block-title {
	font-size: 75px;
	margin-bottom: -55px;
	color: $text-theme;
}
.middle-button, .btn-primary, .oval-button {
	background-color: white;
	padding: 6px 14px;
	border: 1px solid $button-color-addition;
	color: $button-color-addition;
	font-size: 14px;
	border-radius: none;
	font-size: 12px;
	text-transform: uppercase;
	display: inline-block;
	a {
		text-decoration: none;
		color: white;
	}
}
.white-btn, .white-btn:visited {
	
	border: 2px solid white;
	color: white;
	font-weight: bold;
	
	border-radius: none;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 2px;
	text-decoration: none;
}

.middle-button, .btn-primary:hover,  {
	background-color: $button-color-addition !important;
	border: 1px solid $button-color-addition !important;
}
.middle-button, .btn-primary:active {
	background-color: $button-color-addition;
	border: 1px solid $button-color-addition;
}
.white-btn:hover {
	background-color: white;
	color: $light-dark;
	text-decoration: none;	
}

.read-more, .field--name-field-button {
    border: 1px solid $button-color-addition;
    
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    display: inline-block;
    cursor: pointer;

    a {
      color: $button-color-addition;
      text-decoration: none;
    }
}
.read-more:hover, .field--name-field-button:hover {
  color: white;
  text-decoration: none;
  background-color: $button-color-addition;
  a {
  	text-decoration: none;
    color: white; 
  }

}
.search {
	.icon {
		display: inline-block;
		color: white;
		cursor: pointer;
		padding: 35px 15px;	
	}
	
}
h1,h2,h3,h4,h5,h6 {
	color: black;
}
h4 {
	font-size: 20px;
		font-weight: bold;
	a {
		color: black;
		text-decoration: none;

	}
	a:hover {
		color: $button-color-addition;
	}
}
h5 {
	font-size: 18px;
	a {
		color: black;
		text-decoration: none;
	}
	a:hover {
		color: $button-color-addition;
		text-decoration: none;
	}
}
h6 {
	font-size: 16px;
	font-weight: bold;
	a {
		color: black;
		text-decoration: none;
	}
	a:hover {
		color: $button-color-addition;;
	}	 
}
.inner-text {
	background-color: $main-gray-color;
	margin: 0 auto;
	z-index: 9;
	width: 70%;
	padding: 60px 30px;
	margin-top: -170px;
	display: inline-block;
}
.slick-arrow::before {
	color: $middle-gray;
	font-size: 30px;
}
h2.block-title {
	margin: 50px 0px;
}
p {
	line-height: 1.9;
}
.active-menu {
	background-color: #202020;
	color: white;
}
.text-theme {
    color: $text-theme;
}
a {
	color: $text-theme;
}
.inline-link {
	float: left;
}
.social-link-dark {
	font-size: 35px;
	margin: 10px;
}