/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';
$main-dark-color: #191a1b;
$main-gray-color: #F3F4F4;
$text-theme: #c1934c;
$footer-main-text: #cacaca;
$social-color: #c4c3c3;

$button-color-addition: #c1934c;
$light-dark: #4a4d4f;
$light-gray: #C1C1C1;
$middle-gray: #ADADAD;

//sizeing 
$tablet: "799px";
$middle: "1000px";
$large: "1500px";
