
	#block-copywritemenu {
		text-align: left;

		ul.menu {
			li {
				display: inline-block;
				
				a {
					color: $text-theme;
				}
				a:hover {
					text-decoration: underline;
					background-color: transparent;
				}
			}	
		}
		
	}
	#block-owl-main-menu, #superfish-main {
		float: right;
		margin-bottom: 0;

		li {
			background-color: transparent !important;
			cursor: pointer;

			
			a {
				padding-top: 35px;
				padding-bottom: 35px;
				display: inline-block;
				font-weight: bold;
				color: white;
				text-decoration: none;
				text-transform: uppercase;
				border-top: 1px transparent solid;
				background: none;
			}

			a:hover {
				color: $text-theme;
				border-top: 1px $text-theme solid;
			}
	

			ul {
				margin-top: 50px;
				background-color: white;
				box-shadow: 5px black;
				text-align: center;
				a {
					border: none;
					color: $light-dark;
					background-color: white;
					padding: 15px;
					display: inline-block;
					width: 100%;
				}
				li {
					background-color: white;
				}
				a:hover {
					border: none;
				}

			}
		}
		li:hover {
			background-color: transparent;
		}
		#superfish-main-accordion {
			positoin: absolute;
		}

	}
	.active-navigation {

	}

	#block-navigation {
		a {
			color: black;
			text-transform: uppercase;
			font-size: 14px;	
		}
		li:hover {
			background-color: none;
			color: $text-theme;
		}
		a:hover {
			background-color: none;
			color: $text-theme;
		}
		a:before {
			font-size: 16px;
			content: "> ";
		}
	}
