// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
@import "region/_blocks.scss";
@import "region/_region.scss";
@import "region/_views.scss";
@import "_default-variables.scss";
@import "_menu.scss";
@import "_bootstrap_over.scss";


// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}
body {
  font-family: Lato;
  color: $light-dark;
}



.body-page {
  background: white;
  position: absolute;
  z-index: 2;
  width: 100%;

}
// Page header.
.page-header {
  margin-top: 0;
}
.page-home {
  section.block-views {
  padding-top: 30px;
  padding-bottom: 30px;
}
}
.menu-page {
  width: 80%;
  margin: 0 auto;
}
.page-contact {
  margin: 0 auto;
  section {
    margin: 40px auto;
  }
}
.page-about {

}
.blog {
  width: 100%;
  margin: 20px auto;

  img {
    width: 100%;
    height: auto;
  }
}
.page-team {

  margin: 0px auto;
  .row {
    margin: 20px 0px;
  }
}
.page-blog {
  p {
    text-align: justify;
  }
  margin: 0px auto;
  .row {
    margin: 20px 0px;
  }
}
.page-partners {
  margin: 0px auto;
  
  .row {
    margin: 20px 0;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.page-search {
  width: 70%;
  margin: 50px auto;
  float: none;
  form {
    width: 30%;
    input {
      height: 31px;
    }
  }
}
.page-404 {
  width: 60%;
  margin: 50px auto;
}
.page-node {
  p {
    text-align: justify;
  }
}
header {
  margin: 0px !important;
  border-radius: 0 !important;
  width: 100% !important;
  margin: 0 !important;
  
  background-image: url("../images/background/bg-main.jpg");
  background-position-y: center; 


  #header-head {
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar-header {
    width: 100% !important;
  }
  .navbar-active {
    background-color: #222;
    a:hover {
      border-top: 1px transparent solid !important;
    }
  }
  .navbar-nav {
    float: right ;
  }
}
header.main-header {
  background-color: transparent;
  background-image: none;
  border: none;
  position: absolute;
  top: 0;

}
header.menu-header {
  background-image: url("../images/background/bg-menu.jpg");
  background-position-y: center;
}
header.about-header {
  background-image: url("../images/background/bg-about.jpg"); 
  background-position-y: center;

  .page-header:after  { 
    content: " US";
    font-weight: lighter !important;  
  }
}
// Footer.
.footer {
  background-attachment: scroll;
  bottom: 0;
  position: fixed;
  z-index: 1;
  color: $footer-main-text;
  padding: 35px 0px 0px 0px;
  margin: 45px 0px 0px 0px;
  border-top: 1px solid #E5E5E5;
  width: 100%;
  background-color: $main-dark-color;

  .region-footer-bottom {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
      border-top: 1px solid #3e3b3b;
      padding: 30px 0px;
  }
}

#todays-special {
  margin: 0 auto;
} 
// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.page-node {
  margin: 20px auto;
}
.page-header {
  border: none;
  font-size: 39px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header {
  .page-header {
    
    color: white;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
.region-sitebranding {
  margin-top: 10px;
}
#main-slider {
  .slide__caption {
    text-align: center;
    position: absolute;
    left: 50%;
    width: 50%;
    margin-left: -25%;
  }
  .cursive {
    color: $text-theme;
    
  }
  p {
      color: white;
      font-weight: 300;  
    }
  
  
}
.no-padding {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#main-slider {
   .slide__grid {

   }

}
@import "_respons.scss";
