@media (max-width: $tablet) {
	h2, .h2 {
  		font-size: 18px;
  	}
  	h3 {
  		font-size: 16px;
  	}
  	h4, .h4 {
  		font-size: 14px;
  	}
  	body {
  		font-size: 12px;
  	}
  	.menu-page {
  		width: 98%;

  		#todays-special {
  			width: 70%;
  		}
  	}
  	.page-blog, .page-team, .page-node, .page-node, .page-partners, .page-contact {
  		width: 95%;
  	}
	.navbar-header {
    	padding: 0 2%;
    }
    #header-head {
    	padding: 20px 2%;
  	}
  	#superfish-main li a {
  		font-size: 10px;
  	}
  	.our-story {
  		width: 95%;
  	}
  	.bestdeal-col {
  		margin: 20px 0px;
  	} 
  	.breakfast-deal {
  		.cursive {
  			font-size: 25px;
  		}
  		.inner-text {
  			padding: 20px 10px;
  		}
  	}
  	.event-views {
  		width: 99%;	
  	} 
  	.region-footer-bottom {
  		width: 90%;
  		.nav > li > a {
  			padding: 10px 3px;
  		}
  	}
  	.read-more, .field--name-field-button {
  		padding: 5px 10px;
  		font-size: 10px;
  	}
  	.inner-text, .content-inner {
  		padding: 20px 10px;
  	}
  	#main-slider {
  		.slide__caption {
  		}
  	}
  	.data-event {
  		.wrapper-date {
	 		width: 80px;
			height: 80px;
	 	}
	 	.day {
	 		font-size: 40px;
	 	}
	 	.month {
	 		font-size: 14px;
	 	}
  	}
}
@media (min-width: $tablet) {
	h2, .h2 {
  		font-size: 18px;
  	}	
  	h3 {
  		font-size: 16px;
  	}
  	h4, .h4 {
  		font-size: 14px;
  	}
  	body {
  		font-size: 12px;
  	}
  	.menu-page {
  		width: 95%;
  		#todays-special {
  			width: 60%;
  		} 
  	}
  	.page-blog, .page-team, .page-node, .page-node, .page-partners, .page-contact {
  		width: 90%;
  	}
    .navbar-header {
    	padding: 0 3%;
    }
    #header-head {
    	padding: 20px 3%;
  	}
  	#superfish-main li a {
  		font-size: 12px;
  	}
  	.our-story {
  		width: 85%;
  	}
  	.breakfast-deal {
  		.cursive {
  			font-size: 30px;
  		}
  		.inner-text {
  			padding: 20px 10px;
  		}	
  	}
  	.event-views {
  		width: 99%;	
  	}
  	.region-footer-bottom {
  		width: 90%;
  		.nav > li > a {
  			padding: 10px 3px;
  		}
  	} 			
  	.read-more, .field--name-field-button, .field--name-field-button a {
  		padding: 5px 10px;
  		font-size: 10px;
  	}
  	.inner-text, .content-inner {
  		padding: 20px 10px;
  	}
  	.white-btn {
  		padding: 5px 9px;
		font-size: 12px;
  	}
  	#main-slider {
  		.slide__caption {
  			top: 40%;
  		}
  		.cursive {
  			font-size: 40px;
  		}
  		p {
      		font-size: 20px;  
    	}
    	.sub-title {
      		margin-top: -10px;
  		}
  	}
  	.data-event {
  		.wrapper-date {
	 		width: 80px;
			height: 80px;
	 	}
	 	.day {
	 		font-size: 40px;
	 	}
	 	.month {
	 		font-size: 12px;
	 	}
  	}
}
  @media (min-width: $middle) {
  	h2, .h2 {
  		font-size: 30px;
  	}
  	h3 {
  		font-size: 23px;
  	}
  	h4, .h4 {
  		font-size: 18px;
  	}
  	body {
  		font-size: 14px;
  	}
  	.menu-page {
  		width: 80%;
  		#todays-special {
  			width: 100%;
  		} 
  	}
  	.page-blog, .page-team, .page-node, .page-node, .page-partners, .page-contact {
  		width: 65%;
  	}
    .navbar-header {
    	padding: 0 10%;
    }
    #header-head {
    	padding: 20px 10%;
    }
    #superfish-main li a {
  		font-size: 14px;
  	}
  	.our-story {
  		width: 60%;
  	}
  	.breakfast-deal {
  		.cursive {
  			font-size: 60px;
  		}
  			
  	}
  	.event-views {
  		width: 90%;	
  	}
  	.region-footer-bottom {
  		width: 70%;
  		.nav > li > a {
  			padding: 10px 15px;
  		}
  	} 
  	.read-more, .field--name-field-button {
  		padding: 8px 24px;
  		font-size: 13px;
  	}
  	.white-btn {
  		padding: 10px 18px;
		font-size: 14px;
  	}
  	.inner-text, .content-inner {
  		padding: 60px 30px;
  	}
  	#main-slider {
  		.slide__caption {
  			top: 70%;
  		}
  		.cursive {
  			font-size: 80px;
  		}
  		p {
      		font-size: 50px;  
    	}
    	.sub-title {
      		margin-top: -40px;
  		}
  	}
  	.data-event {
  		.wrapper-date {
	 		width: 120px;
			height: 120px;
	 	}
	 	.day {
	 		font-size: 60px;
	 	}
	 	.month {
	 		font-size: 16px;
	 	}
  	}
}