{#
/**
 * @file
 * Default theme implementation of the Superfish menus.
 *
 * Available variables:
 * - id: Unique menu identifier.
 * - menu_classes: Menu classes.
 * - menu_items: Menu tree.
 *
 * @see template_preprocess_superfish()
 *
 * @ingroup themeable
 */
#}

<ul id="{{ id }}" class="{{ menu_classes }}">
  {{ menu_items }}
  <li class = "search">
      <span class = "icon">
        <i class = "fa fa-search"></i>
      </span>
    </li>
</ul>
